body{
    background: url('../asset/headphones-monochrome-ad-1366x768.jpg')no-repeat;
    background-size: 1500px;
    /* background-size: contain; */
    background-position-y: -180px;
    background-position-x: 0px;
}

header{
    padding: 20px 20px;
    margin-bottom: 30px;
}
header h1 a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 150ms ease-in-out;
    color: tomato;
}

header h1 a:hover{
    background-color: teal;
}

div h2{
    
    font-size: 50px;
    font-weight: 600;
    font-family: cursive;
    color: yellow;
    margin-left: 250px;
    margin-bottom: 30px;
}

p{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    color: blue;
}
button{
    background-color: chartreuse;
    border-radius: 20px;
    background-size: 50px;
    padding: 20px 20px;
 }

button a{
    font-size: 30px;
    padding: 20px 20px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}